<app-navbar></app-navbar>
<div class="container-fluid">
  <h2>Approved Invoices</h2>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Invoice #</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of approvedInvoices">
            <td>{{ invoice.invoiceNumber }}</td>
            <td>{{ invoice.vendorName }}</td>
            <td>{{ invoice.amount | currency:'INR' }}</td>
            <td>{{ invoice.totalAmount | currency:'INR' }}</td>
            <td>{{ invoice.dueDate | date }}</td>
            <td><span class="badge bg-info">{{ invoice.status }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


