.modal {
  z-index: 1050;
}

.modal.show {
  display: block !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-header {
  border-bottom: 2px solid;
}

.modal-header.border-success {
  border-bottom-color: #198754;
}

.modal-header.border-danger {
  border-bottom-color: #dc3545;
}

.modal-header.border-warning {
  border-bottom-color: #ffc107;
}

.modal-header.border-info {
  border-bottom-color: #0dcaf0;
}

.modal-content {
  border-width: 2px;
}

.modal-title i {
  margin-right: 8px;
  font-size: 1.2rem;
}

